<table class='table'>
  <tr>
    <th colspan="7">All Report Data</th>
  </tr>

  <tr>
    <th>Search Task Name</th>
    <th><%= sort_link(@search, :search_report_keyword, 'Keyword') %></th>
    <th>Urls</th>
  </tr>

  <% @search_results.each do |search_result|%>
    <tr>
      <td>
        <%= search_result.search_task.name %>
      </td>

      <td>
        <%= search_result.keyword %>
      </td>

      <td>
        <% search_result.urls.zip(search_result.result_types).each do |url, result_type| %>
          <% if SearchResult.result_types.values_at('top_ad', 'bottom_ad').include?(result_type) %>
            <span class='text-success'><%= url %>|
          <% else %>
            <span><%= link_to url, url %></span>|
          <% end %>
        <% end %>
      </td>

    </tr>
  <% end %>
</table>
