<%= link_to 'Back to listing', search_tasks_path, class: 'btn btn-small btn-primary' %> <br><br>

<table class='table'>
  <tr>
    <th colspan="7">Search Task <%= @search_task.name %> Report</th>
  </tr>
  <tr>
    <th>
      <th>Keyword</th>
      <th>Urls</th>
      <th>#Top Adwords</th>
      <th>#Bottom Adwords</th>
      <th>#Total Adwords</th>
      <th>#Non Adwords</th>
      <th>#Total Links(All)</th>
      <th>#Total Results</th>
    </th>
  </tr>
  <% @search_reports.each do |search_report|%>
    <tr>
      <td><%= search_report.keyword %></td>
      <td>
        <ul>
          <% search_report.search_results.each do |search_result| %>
            <% if search_result.ad? %>
              <li class='text-success'><%= search_result.url %></li>
            <% else %>
              <li><%= search_result.url %></li>
            <% end %>
          <% end %>
        </ul>
      </td>
      <td><%= search_report.result_stats['top_ad_count'] %></td>
      <td><%= search_report.result_stats['bottom_ad_count'] %></td>
      <td><%= search_report.result_stats['total_ad_count'] %></td>
      <td><%= search_report.result_stats['regular_results_count'] %></td>
      <td><%= search_report.result_stats['all_links_count'] %></td>
      <td><%= search_report.result_stats['results_count'] %></td>
    </tr>
  <% end %>
</table>
