<!DOCTYPE html>
<html>
  <head>
    <title>Searchbot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <br>
    <div class='row'>
      <div class='col-md-2'>
      </div>
      <div class='col-md-4'>
        <%= link_to 'Search Tasks', search_tasks_path, class: 'btn btn-primary' %>
        <%= link_to 'Search Results(All Reports)', search_results_path, class: 'btn btn-primary' %>
      </div>
      <div class='col-md-4'>
      </div>

      <% if user_signed_in? %>
        <div class='col-md-2'>
          <%= link_to 'Logout', destroy_user_session_path, method: 'delete', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div><br><br>
    <%= yield %>
  </body>
</html>
